<p id="notice"><%= notice %></p>

<h1>Listing Todo Items</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_items.each do |todo_item| %>
      <tr>
        
         
          <div class=“row clearfix”>
            <% if todo_item.completed? %>
              <div class=“complete”>
              <td> <%= link_to 'Mark as Complete', complete_todo_item_path(todo_item), method: :patch %> </td>
              </div>
              <div class=“todo_item”>
               <td> <p style="color:#aea6a6;"><strike><%= todo_item.content %></strike></p> </td>
              </div>
              <div class=“trash”>
               <td> <%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
              </div>
              <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
            <%else%>
              <div class=“complete”>
                <td><%= link_to 'Mark as Complete', complete_todo_item_path(todo_item), method: :patch %></td>
              </div>
              <div class=“todo_item”>
               <td> <p><%= todo_item.content %></p></td>
              </div>
              <div class=“trash”>
                <td><%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </div>
              <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
            <%end%>
          </div>
        
   
      </tr>
    <% end %>
  </tbody>
</table>



<br>
<div id="form">
<%= render 'form' %>
</div>

